@media screen and (max-width: 1400px) {
    
    .header_nav {
        justify-content: flex-start;
        gap: 80px;
    }

    .header_nav .nav {
        padding-left: 40px;
    }

    .content_container2 {
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

    }

    .image_organic_food {
        width: 600px;
    }

    .Products {
        grid-template-columns: 475px 475px;
    }

    .price {
        padding-top: 0px;
    }

    .content_container5 {
        background-size: contain;
        width: auto;
    }

    .content_container6_top {
        width: auto;
        justify-content: center;
        gap: 60px;
    }

    .content_container6_bottom {
        grid-template-columns: 447px 447px;
        gap: 60px;
        justify-items: center;
     }
       

     .content_container6_bottom .corn {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
     }

     .content_container6_bottom .line_cont4 {
        margin-left: auto;
        margin-right: auto;
     }

     .content_container6_bottom .stars_cont4 {
        padding-left: 50px;
        
     }

     .content_container8 {
        width: auto;
    }

     .footer_top {
        margin-left: auto;
        margin-right: auto;
     }

     .footer_top_content {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
     }

     .footer_top_content .title_2 {
        padding-right: 100px;
        width: 400px;
     }
}

@media screen and (max-width: 1300px) {
     
    .content_container2  {
        width: auto;
        align-content: center;
    }

    .content_container3 {
        padding-right: 10px;
        padding-left: 10px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .image_organic_food {
        background-image: none;
        width: 0px;
        height: 0px;
    }

    .about_us {
        margin-left: auto;
        margin-right: auto;
    }

    .content_container4 {
        width: auto;
    }

    .content_container6_bottom .name_vegetable {
        padding-top: 0px;
    }

    .content_container5 {
        padding-top: 0px;
    }

    .line_cont5 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .text_cont5 {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .content_container5 .title_2 {
        height: 100%;
    }

    .content_container6 {
        width: auto;
    }

    .content_container7 {
        width: auto;
    }

    .Eco_Friendly {
        margin-left: 500px;
    }

    .content_container8 {
        width: auto;
    }

    .food_cont8 {
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .nuts_cookies {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    
    .footer {
        width: auto;
    }

    .footer_content {
        grid-template-columns: 289px 670px 200px;
    }
}

@media screen and (max-width: 1180px) {
    .content_container1 {
        width: auto;
    }

    .header_nav .nav {
        width: 500px;
    }
    
    .header_nav {
        justify-content: space-evenly;
    }

    .Eco_Friendly {
        margin-left: 400px;
    }

    .logo_bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer_content {
        grid-template-columns: 289px 470px 200px;
    }

    .content_container5 {
        background-image: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .circles {
        grid-template-columns: 250px 250px;
        gap: 50px;
    }

    .content_container7 {
        background-image: none;
    }

    .Eco_Friendly {
        margin-left: auto;
    }

    .footer_top_content .title_2 {
        padding-right: 0px;
    }
}

@media screen and (max-width: 1027px) {
    .header_nav .nav {
        width: 410px;
    }
}

@media screen and (max-width: 960px) {
    .Products {
        grid-template-columns: 475px;
    }

    .food_cont8 {
        grid-template-columns: 460px;
        width: auto;
    }

    .header_nav .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 20px;
        left: 40px;
        cursor: pointer;
        z-index: 9999;
    }

    .header_nav span {
        display: block;
        height: 3px;
        width: 100%;
        background: black;
        transition: 0.3s linear;
    }

    .header_nav .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin:0;
        background:#f2f0f1;
        opacity: 0.7;
        max-width: 200px;
        z-index: 999;
        transform: translateX(-200%);
        padding: 30px;
        transition: 0.3s linear;
        display: flex;
		flex-direction: column;
    }
    .header_nav .nav ul{
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding-top: 60px;
    }

    .header_nav .nav__link{
        font-size: 28px;
        color: black;
    }
    .header_nav .burgerCh:checked ~ .burger span:nth-child(1){
        transform: rotate(45deg);
        transform-origin: 2px 0;
        width: 140%;
  
    }
    .header_nav .burgerCh:checked ~ .burger span:nth-child(2) {
        transform: scaleX(0);
        transform-origin: center;
    }
    .header_nav .burgerCh:checked ~ .burger span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 2px 0;
        width: 132%;
        top:0;
    }
    .header_nav .burgerCh:checked ~ .nav {
        transform: translateY(0);
    }

    .header_logo {
        padding-left: 100px;
    }

    .header_nav {
        width: auto;
        gap: 350px;
    }

    .footer_top_content .title_2 {
        width: 350px;
    }

    .footer_content {
        grid-template-columns: 289px 400px 200px;
    }
}

@media screen and (max-width: 910px) {

    .text_cont5 {
        width: auto;
    }

    .Products .line_cont4 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .name_vegetable {
        padding-left: 40px;
        padding-top: 0px;
    }

    .price {
        padding-left: 45px;
        padding-top: 0px;
    }

    .content_container6_top {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .content_container6_bottom {
        gap: 15px;
        justify-items: center;
        grid-template-columns: 447px;
    }

    .content_container6_bottom .corn {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .content_container6_bottom .line_cont4 {
        margin-left: auto;
        margin-right: auto;
        width: 365px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .content_container6_bottom .stars_cont4 {
        padding-left: 40px;
    }

    .content_container6_bottom .name_vegetable {
        padding-top: 0px;
        padding-left: 30px;
    }

    .content_container6_bottom .price {
        padding-left: 30px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 890px) {
    .header_nav {
        width: auto;
        gap: 250px;
    }

    .header_content h3 {
        padding-top: 100px;
    }

    .header_content {
        height: 600px;
    }

    .content_container2 {
        padding: 100px 0px;
    }

    .content_container3 {
        padding: 100px 20px 100px 0px;
    }

    .footer_top_content {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px 0px;
    }

    .button_footer {
        margin-top: 15px;
        margin-left: 310px;
    }

    .footer_content {
        grid-template-columns: 230px 380px 200px;
    }

    .content_container6_top {
        gap: 15px;
    }

    .button_footer {
        margin-left: 300px;
    }
}

@media screen and (max-width: 824px) {
    .content_container6_top {
        text-align: center;
        padding-left: 0px;
    }

    .content_container6_top .title_2 {
        padding-bottom: 20px;
    }

    .content_container6_top .button {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 809px) {
    .header_top {
        padding: 20px 0px;
    }

    .header_logo {
        padding-left: 80px;
    }

    .image_organic_food {
        width: auto;
    }

    .about_us p {
        width: auto;
    }

    .footer_content {
        grid-template-columns: 300px;
    }

    .contact {
        border-right: none;
        padding-right: 0px;
        border-bottom: 1px solid rgb(213, 213, 213);
        text-align: center;
        margin-bottom: 20px;

    }

    .social_media {
        padding-bottom: 30px;
    }


    .Utility_Pages {
        border-left: none;
        padding-left: 0px;
        padding-top: 30px;
        border-top: 1px solid rgb(213, 213, 213);
        text-align: center;
    }

    .button_footer {
        margin-left: 260px;
    }

    .footer_content {
        flex-wrap: wrap;
    }
    
    .icon_block {
        width: 75px;
        height: 75px;
    }

    .icon_block img {
        margin-top: 0px;
        margin-left: 0px;

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
        
    }
}

@media screen and (max-width: 690px) {
    .header_nav {
        gap: 150px;
    }

    .text_cont5 {
        padding-bottom: 20px;
    } 
}

@media screen and (max-width: 670px) {

    .price {
        border-top: 1px solid rgb(212, 212, 212);
        margin-left: auto;
        margin-right: auto;
        width: 410px;
        padding-left: 0px;
        padding-top: 10px;
    }

    .line_cont4 {
        height: 0px;
    }

    .content_container6_bottom .price {
        width: 335px;
        padding-left: 0px;
    }

    .footer_top_content .title_2 {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .button_footer {
        margin-left: 0px;
        margin-top: 0px;
    }

    .Eco_Friendly {
        margin-right: auto;
        width: auto;
    }

    .Eco_Friendly p {
        width: auto;
        padding-left: 10px;
    }
}

@media screen and (max-width: 590px) {
    .header_nav {
        gap: 30px;
    }

    .header_logo {
        padding-left: 100px;
    }

    .title {
        font-size: 60px;
    }

    .content_container2 .natural {
        text-align: center;
        background-color: #f96893;
        background-image: none;
    }

    .natural .title_3 {
        margin-left: 0px;
    }

    .natural p {
        margin-left: 0px;
        text-align: center;
        width: auto;
    }

    .content_container2 .Offer {
        text-align: center;
        background-color: #e9eef1;
        background-image: none;
    }

    .Offer .title_3 {
        margin-left: 0px;
    }

    .Offer p {
        margin-left: 0px;
        text-align: center;
        width: auto;
    }

}

@media screen and (max-width: 550px) {
    .header_top {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header_logo {
        padding-left: 50px;
    }

    .circles {
        grid-template-columns: 250px;
        gap: 20px;
    }

      .about_us .title_2 {
        width: auto;
    }

    .Consumer {
        padding-top: 10px;
    }

    .footer_top_content {
        padding: 0px 10px;
    }

    .email {
        padding-bottom: 10px;
    }

    .button_footer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 470px) {
    .header_logo {
        padding-left: 60px;
    }

    .header_content h3 {
        padding-top: 50px;
    }

    .title {
        width: auto;
        font-size: 50px;
    }

    .header_content {
        height: 100%;
        padding-bottom: 30px;
    }

    .Offer {
        width: auto;
    }

    .Offer p {
        padding: 0 10px;
        padding-top: 20px;
    }

    .content_container2 .natural {
        width: auto;
    }
    .natural p {
        padding: 0 20px;
    }
    .Products {
        grid-template-columns: 310px;
        text-align: center;
    }

    .Products img {
        max-width: 100%;
        max-height: 100%;
    }

    .line_cont4 {
        width: 280px;
        margin-left: 15px;
    }

    .price {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0px;
        width: 290px;
    }

    .old_price {
        padding-left: 20px;
    }

    .stars_cont4 {
        padding-left: 0px;
        padding-top: 20px;
    }

    .tomato .old_price {
        padding-left: 30px;
    }

    .name_customer {
        padding-top: 20px;
        max-height: 100%;
    }

    .content_container5 .title_2{
        height: 100%;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .content_container5 p {
        overflow: hidden;
        height: 100%;
    }

    .content_container6_top {
        padding-right: 25px;
    }

    .content_container6_bottom{
        grid-template-columns: 310px;
        text-align: center;
    }

    .content_container6_bottom .price {
        padding-bottom: 70px;
    }

    .content_container6_bottom .stars_cont4 {
        padding-left: 21px;
    }

    .content_container6_bottom img {
        max-width: 100%;
        max-height: 100%;
    }

    .Eco_Friendly {
        padding: 40px 20px;
        height: 100%;
    }

    .footer_top {
        background-image: none;
        background-color: #48bce5;
    }
}

@media screen and (max-width: 375px) {
    .header_logo {
        padding-left: 0px;
    }

    .header_nav {
        gap: 20px;
    }

    .content_container1 {
        height: 100%;
    }
}







