.sidebar2 {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
  
}

.title {
  font-weight: 600;
  line-height: 20px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  overflow: hidden;
  height: 148px;
 
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.mobile_btn { 
  display: none;
}

@media screen and (max-width: 1024px) {

  .mobile_btn { 
      display: block;
      position: fixed;
      cursor: pointer;
      z-index: 10;
      top: 60px;
      margin-left: 30px;

    }

    .sidebar1 {
      background-color: #212123;
    }

    .sidebar2 {
      text-decoration: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: -100%;
      padding: 30px 30px;
      right: 0;
      width: 170px;
      background-color: #191919;
      z-index: 10;
      transition: left 1s;
      margin-top: 10px;
      height: 400px;
    }
      
    .active {
      left: 0;
    }

    .footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
  }
}